@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

:root {
    --dutch-red: rgb(174,28,40); 
    --dutch-blue: #003DA5;
}

body {
    max-width: 72%;
    margin: 0 auto;  
    
}

#main_resources_header{
    color: green;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Rampart One', Helvetica;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 2%;
}

/* Antilibrary Section */ 

/*Header of the antilibrary section */
#antilibrary_header{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Rampart One', Helvetica;
    font-size: 25px;
    font-weight: bold;
}

.first {
    background-color: var(--dutch-red);
}

#antilibrary_header{
    text-align: center;
    color: white;
}

.antilibrary {
    display: flex;
    background-color: var(--dutch-red);
    padding-right: 20px;
}


.antilibrary .image-container{
    justify-content: flex-start;
}

.antilibrary .image-container img {
    width: 100%;
    height: auto;
  }
  

.antilibrary .text-container {
    flex-basis: 100%;
    align-self: center;
  
  }


/* style for the article content */
.antilibrary .text-container p {
    text-align: justify;
    font-family: 'Noto Sans JP', Helvetica;
    margin-top: 20px;
    padding: 5%;
    color: white;
    
}

/* Coding Section */ 


/*Header of the coding section */
#coding_header{
    color:  #003DA5;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Rampart One', Helvetica;
    font-size: 25px;
    font-weight: bold;
    
}

.coding {
    display: flex;
    background-color: white;
    padding-right: 20px;
}

.coding .image-container{
    justify-content: flex-start;
}

.coding .image-container img {
    width: 100%;
    height: auto;
  }

  .coding .text-container {
    flex-basis: 100%;
    align-self: center;
  }

  .coding .text-container p {
    text-align: justify;
    font-family: 'Noto Sans JP', Helvetica;
    margin-top: 20px;
    padding: 5%;
    color: black;
    
}

.coding .text-container ul {
    font-family: 'Noto Sans JP', Helvetica;
}

/* Languages Section */ 


/*Header of the languages section */
#languages_header {
    color:  white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Rampart One', Helvetica;
    font-size: 25px;
    font-weight: bold;
}



.languages {
    background-color: var(--dutch-blue);
    font-family: 'Noto Sans JP', Helvetica;
    color: white;
    display: flex;
    padding-right: 20px;
    
}

.languages .image-container{
    justify-content: flex-start;
}

.languages .image-container img {
    width: 100%;
    height: auto;
  }

  .languages .text-container {
    flex-basis: 100%;
    align-self: center;
  }

  .languages .text-container p {
    text-align: justify;
    font-family: 'Noto Sans JP', Helvetica;
    margin-top: 20px;
    padding: 5%;
    color: white;
    
}

.languages .text-container a {
    color: #FECC02 ;
}


/*will change the color of the visited and active hyperlinks to yellow for the antilibrary section */
.antilibrary a:visited { 
    color: #FECC02;
}

.antilibrary a:active { 
    color: #FECC02;
}

/*will change the color of the visited and active hyperlinks to yellow for the languages section */

 .languages a:visited { 
    color: #FFCD00;
}

.languages a:active { 
    color: #FFCD00;
}

/*will change the color of the visited and active hyperlinks to yellow for the coding section */

.coding a:visited { 
    color: #006AA7;
}

.coding a:active { 
    color: #006AA7;
}


/* -------------------------------------------------------------------------------------------------*/
/* Large */
.navigation {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
}

/* @media (max-width: 420px){
    .wrap {
        max-width: 320px;
        display: block;
    }

    .wrap p {
        margin-block-start: -3rem;
        margin-inline-start: 1rem;
        padding: 1rem;
        position: relative;
    }
} */ 

/* Medium screens */
@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
  
    .antilibrary {
        display: flex;
        flex-direction: row;
        background-color: var(--dutch-red);
        flex-wrap: wrap;
        padding-right: 5px;
        padding-left: 5px;
    } 

    .coding {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: white;
        padding-right: 0.5px;
        padding-left: 0.5px;
    }

    .languages {
        background-color: var(--dutch-blue);
        display: flex;
        flex-direction: row;
        padding-right: 5px;
        padding-left: 5px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    body {
        max-width: 100%;
        margin: 0 auto;  
        
    }

    .navigation{
        /* On small screens, we are no longer using row direction but column */
        flex-direction:row;
    }
}